.app {
    --card-width: 12.5rem;
    --card-height: 17.5rem;
}

.game {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-table {
    overflow-y: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-card-area {
    width: 90rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.table-card-row {
    height: var(--card-height);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 6rem;
}

.table-card-placeholder {
    height: var(--card-height);
    width: var(--card-width);
    background-color: lightskyblue;
    align-self: center;
    justify-self: center;
}

.table-card-placeholder.highlighted {
    box-shadow: 0px 0px 0px 4px rgba(255, 234, 42, 0.7) inset;
}

.table-card-deck {
    height: var(--card-height);
    width: var(--card-width);
    position: absolute;
    bottom: 4rem;
    right: 4rem;
    display: flex;
}

.card-deck-card-container {
    width: 100%;
    height: 100%;
    background-color: blue;
    display: grid;
}

.card-deck-card-container > * {
    grid-row: 1;
    grid-column: 1;
}

.game-card {
    border-radius: 1rem;
    height: var(--card-height);
    width: var(--card-width);
    background-color: crimson;
    transition: 0.3s;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.game-card.interactable.zoomed-in {
    transform: scale(1.3);
    margin: 0 3rem;
}

.game-card.interactable:hover {
    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.5) inset;
}

.game-card.interactable.selected {
    box-shadow: 0px 0px 0px 4px rgba(255, 0, 0, 0.4) inset;
    bottom: 2rem;
}

.table-player-card-collection-container {
    position: absolute;
    width: 100%;
    height: 20rem;
    left: 0;
    bottom: -10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.table-player-card-collection-container:hover {
    bottom: 5rem;
}

.table-player-card-collection {
    transition: 0.3s;
    display: flex;
}
